<%
  page_title (Contract.human_attribute_name :page_title_content)
  side_bar "agent"
%>

<%= javascript_tag do -%>
$(function(){
    $('#expired_at').datepicker({ autoSize:true,
                                    dateFormat :'yy-mm-dd'});
    $('#renewal_form').validate();
});
<% end -%>

<div class="section">
  <div class="head"> 
    <h2><%= Contract.human_attribute_name :page_title_content %></h2>
      <% if current_user.party.is_valid_agent? %>
         <% if !@contract.expiration_processed %>
            <%= link_to (t "contract.operate.0"), stop_contract_path(@contract,:format=>:js),:method=>:post, :class=>'button remote', :id=>"stop_bt" %>
         <% end %>
        <% end %>
  </div>
  
  <div class="body">
  	
     <dl class="attributes">
     	<dt><%= Contract.human_attribute_name :contact_person %>:</dt>
     	<dd><%= @contract.contact_person %> </dd>
        <dt><%= Contract.human_attribute_name :business_type %>:</dt>
        <dd><%= t "contract.business_type.#{@contract.business_type}" %></dd>
        
        <dt><%= Contract.human_attribute_name :mobile_phone %>:</dt>
        <dd><%= @contract.mobile_phone %></dd>
     	<dt><%= Contract.human_attribute_name :start_from  %>:</dt>
     	<dd><%= @contract.start_from %></dd>
       <dt><%= Contract.human_attribute_name :expired_at %>:</dt>
       <dd>
         <% if current_user.party.is_valid_agent? %>
           <%= form_for @contract, 
                 :as=>:contract,
                 :url=> renewal_contract_path(@contract, :format=>:js),
                 :html=> {:id=>'renewal_form', :method=> :put},
                 :remote=>true do |f| %>
           <%= f.text_field :expired_at, :class=>'required', :id=>'expired_at' %>
           <%= submit_tag (t "contract.operate.1"), :class=>"primary_button" %>
           <% end -%>
         <% else %>
           <%= @contract.expired_at %>
         <% end %>
       </dd>
        
     </dl>
     </div>
  </div> 
  
  <div class="block">
	
  </div> 	
</div>
