<div class="form_error">
    <%= f.error_messages %>
</div>
<% if @price.channel %>
  <fieldset>
    <%= f.label :channel, :class=>'form-label' %>
    <div class="group"><%= @price.channel.name %></div>
  </fieldset>
<% end %>
<fieldset>
    <%= f.label :pay_method,:class=>'form-label'%>
    <div class="group"><%= @price.pay_method.name %></div>
</fieldset>
<fieldset>
    <%= f.label :base_price,:class=>'form-label'%>
    <%= f.text_field :base_price,:class=>'required',:maxlength=>20,:size=>10, :min=>0 %>
</fieldset>
